{% extends "base.html.twig" %}
{% block title %}La Villageoise - A Propos {% endblock %}
{% block body %}
<div class="supergrid">
  <div class="header-0" data-aos="fade-down"
                      data-aos-delay="100"
                      data-aos-duration="2000">
        <figure class="text-center">
            <blockquote class="blockquote">
                <p>"Jamais un homme noble ne hait le bon vin."</p>
            </blockquote>
        <figcaption class="blockquote-footer text-white">
            François Rabelais
        </figcaption>
        </figure>
    </div>

  <div class="header-2"data-aos="fade-left"
                      data-aos-delay="200"
                      data-aos-duration="2000">
    <img src="{{ asset('images/raisin.jpg')}}" alt="raisin"></div>

  <div class="left"data-aos="fade-right"
                      data-aos-delay="300"
                      data-aos-duration="2000">
        <p>La Villageoise</p>
    </div>

  <div class="main">
    <p>Depuis les temps anciens, La Villageoise a gravé son nom dans l'histoire viticole. 
    Depuis 1875, au cœur des collines pittoresques, ce vin incarne l'essence même du terroir. 
    Chaque bouteille est un héritage précieux, résultat du savoir-faire des vignerons passionnés. 
    Les raisins, soigneusement cultivés et récoltés, témoignent du lien intime entre l'homme et la nature.
    Depuis des décennies, chaque millésime est un témoignage de qualité, de l'attention aux détails et de
    l'amour de la tradition. Les années ont passé, mais La Villageoise a su maintenir sa réputation 
    d'excellence. Aujourd'hui, le vin continue d'enchanter les palais, offrant un bouquet captivant 
    et des saveurs inoubliables.</p>
    </div>

  <div class="footer-0-1" data-aos="fade-up"
                      data-aos-delay="400"
                      data-aos-duration="2000">footer-0-1
    </div>
</div>
{% endblock %}
