// body{
//     background-image: url(/public/build/images/background.png);
//     background-attachment: fixed;
//     background-repeat: no-repeat;
// }

//Amusement avec scroll bar
::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    background: #4e7343; 
    border-radius: 10px;
  }
  