form{
    margin: auto;
    padding: 30px;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-family: $font-family-nav;
    background-color: rgb(103, 118, 98);
    border-radius: 1em;
    -webkit-box-shadow: 1px 8px 39px -1px rgba(0,0,0,0.78); 
box-shadow: 1px 8px 39px -1px rgba(0,0,0,0.78);
    button{
        background-color: white;
        padding:1rem;
        color: #4e7343;
        border: none;
        &:hover{
            transition: ease 0.5s;
            background-color: #4e7343;
            color: white;
        }
    }
}

.symfony{
    position: absolute;
    right: 10;
    top: 200;
    font-family: $font-family-nav;
    font-size: 1.5rem;
    padding:3em;
}

.deco{
    position:absolute;
    width: 100%;
    background-color: #4e7343;;
    bottom: 0;
    height: 30vh;
    z-index: -1;
    color: #4e7343;
}

.infos{
    background: rgb(110,161,105);
    margin-right: 20rem;
    -webkit-box-shadow: 1px 8px 39px -1px rgba(0,0,0,0.78); 
box-shadow: 1px 8px 39px -1px rgba(0,0,0,0.78);
    padding: 1rem;
    border-radius: 1em;
    font-family: $font-family-nav;
    font-size: larger;
    p{
        color: white;
    }   
}

.middle{
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
}