form{
    margin: auto;
    padding: 30px;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-family: $font-family-nav;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    button{
        background-color: white;
        padding:1rem;
        color: #4e7343;
        border: none;
        &:hover{
            transition: ease 0.5s;
            background-color: #4e7343;
            color: white;
        }
    }
}
//Style Typed.js//
.symfony{
    position: absolute;
    font-family: $font-family-nav;
    font-size: 1.5rem;
    margin:10em 0 0 5em;
}
//Footer svg//
.deco{
    position:absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
}
//Style partie contact droite//
.infos{
    background: #ffffff;
    margin-right: 20rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 1rem;
    border-radius: 3px;
    font-family: $font-family-nav;
    font-size: larger;
    p{
        color: black;
    }
    .soc{
        display: flex;
        justify-content: space-around;
    }   
}
//Style des deux parties//
.middle{
    margin-top: 20rem;
    display: flex;
    flex-direction: row;
}


