footer{
    background-color: #4e7343;
    //Style des icones
    .socials{
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;
        //Changement de couleur au hover
        .bi:hover{
            fill: #24341f;
        }

    }
}