<nav class="navbar navbar-expand-lg fixed-top bg-white" id="navbar">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-around" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ path('landing')}}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nos Produits</a>
        </li>
        <li class="nav-item">
          <img class="logo" src="{{ asset('images/villageoise.png') }}" alt="logo villageoise"/>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('about')}}">À Propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('contact')}}">Contactez-Nous</a>
      </ul>
    </div>
  </div>
</nav>

<!-- Script pour cacher navbar au scroll -->
<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-70px";
  }
  prevScrollpos = currentScrollPos;
}
</script>