{% extends "base.html.twig" %}
{% block body %}
<img src="{{ asset('build/images/grape.jpg') }}" alt="raisin" class="img-landing">

<p>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur dolorum incidunt, corporis nulla eveniet ea in recusandae error natus doloremque pariatur, similique iure laudantium? Ipsum quia quaerat eos adipisci velit.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus odit nihil ducimus quas aliquam, eum ad dolor doloremque exercitationem, optio ut cum quisquam vel harum inventore veniam perferendis autem quidem.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias assumenda cum similique, quod expedita incidunt quam ipsa quis illo molestias nam impedit nobis suscipit error. Corrupti doloribus voluptatibus labore amet!
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam libero tempora debitis aliquid quisquam similique adipisci nihil repudiandae, a placeat odit quod distinctio, ipsa ipsam! Perferendis dicta nobis id saepe!
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore maxime deserunt voluptate eveniet voluptatum. Nobis eaque magni distinctio, debitis voluptas ratione error laudantium? Aspernatur ex maxime ipsa quos. Adipisci, asperiores!
</p>
{% endblock %}